
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}


:root{
    --neutral-900: #080C20;
    --neutral-400: #777F98;
    --neutral-0: #FFFFFF;
    --cyan-400 :#3EE9E5;
    --red-400 :#FF2965;
    --blue-800:#093F68;
    --blue-gray: #6B8CA4;
}

body{
    font-family: "Manrope", sans-serif;
    background-color: var(--neutral-900);
    color: var(--blue-gray);
    font-size: 15px;
    line-height: 160%;
    font-weight: 500;
    padding-bottom: 64px;
}

.container{
    max-width: 1120px;
    margin: 0 auto;
}

h1, h2{
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    color: var(--neutral-0);
    margin-bottom: 24px;
}

h3, h4{
    color:var(--neutral-0);
    font-weight: 140%;
    font-size: 18px;
    margin-bottom: 12px;
}

h1 span{
    color: var(--cyan-400)
}

.nav{
    padding:0 16px;
    margin-top:32px;
    display: flex;
    justify-content: center;
}
/* hero section */

.hero{
    padding-top: 64px;
    max-width: 100dvw;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 64px;
}

.hero .content {
    padding: 0 16px;;
    grid-column: span 2;
    text-align: center;
}

.hero .content .mouse{
    margin-top: 32px;
    grid-column: span 2;
    display: flex;
    justify-content:center;
}



/*features section*/
.features .container{
    padding-top: 80px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap:48px;
    padding-inline:16px;
    text-align: center;
}

.features .container .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.features .container .card .img-wrapper{
    background-color: var(--blue-800);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 32px;
    margin-bottom: 32px;
}

.features .container .card .img-wrapper img{
    max-width: 65px;
}

/***Pricing section****/

.pricing{
    padding: 80px 16px;
}

.pricing .content{
    text-align: center;
    padding-bottom: 80px;
}

.pricing .plans {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 80px;
}

.pricing .plans .plan{
    background-color: var(--blue-800);
    border-radius: 8px;
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:24px;
    position: relative;  
}
.pricing .plans .plan img{
    max-width: 45px;
    position:absolute;
    bottom: 95%;
}

.pricing .plans .plan ul li{
    padding: 12px;
}

.pricing .plans .plan ul li::marker{
    content: "✓";
    color: var(--cyan-400);
}

.pricing .plans .paid ul li::marker{
    color: var(--blue-800);
}

.pricing .plans .free{
    color: var(--neutral-0);
}

.pricing .plans .free p{
    opacity: 60%;
}
.pricing .plans .plan span{
    font-weight: 800;
    font-size: 40px;
    line-height: 140%;
    vertical-align: middle;
}

.pricing .plans .paid{
    background-color: var(--cyan-400);
    color:var(--neutral-900);
}
.pricing .plans .paid p:first-of-type{
    opacity: 60%;
}

.pricing .plans .paid h4{
    color:var(--neutral-900)
}

.pricing .plans .paid .text{
    opacity: 60%;
    font-size: 15px;
    margin-left: 8px;
    font-weight: 500;
}

/*footer*/
footer{
    text-align: center;
    padding-inline: 16px;
    background-image: url(images/Path2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

footer form{
    margin-top: 40px;
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-inline: 12px;
    transition: all 0.5s ease-in-out;
}

footer form input, footer form button{
    background-color: var(--blue-800);
    border:none;
    border-radius: 999px;
    font-weight: 800;
    padding: 12px 20px;
}

footer form input::placeholder{
    color: var(--blue-gray);
}

footer form button{
    background-color: var(--cyan-400);
    color: var(--blue-800);
}

/*hovers*/
footer form input:hover, footer form button:hover{
    cursor: pointer;
}

footer form input:hover{
    border: 1px solid var(--cyan-400);
}

footer form button:hover{
    border: 2px solid var(--cyan-400);
    background-color: var(--neutral-900);
    color: var(--neutral-0);
}



    
